<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>

    <extensions>

      <bindingExtensions>
        <add name="clearUsernameBinding" type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding" />
      </bindingExtensions>

      
      <behaviorExtensions>
     <!--<add name="myLogger" type="MyServiceA.LogFileBehaviorExtensionElement, MyServiceA" />-->   
        <add name="consoleOutputBehavior" type="WcfService1.ConsoleOutputBehaviorExtensionElement, WcfService1, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
      
    </extensions>
    
   
    
    <behaviors>
    
      
      <serviceBehaviors>
        
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
         
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" httpGetUrl="/" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          
        </behavior>
      
          <behavior name="UPbehaviour">
            <serviceCredentials>
              <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WcfService1.CustomUserNameValidator, WcfService1" />
            </serviceCredentials>
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
          </behavior>
        
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="resfful">
          <webHttp />
        
        </behavior>
        
        <behavior name="inspectorBehavior">
          <consoleOutputBehavior />
        </behavior>
       
        
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      


        <add binding="basicHttpBinding" scheme="http" />
        <add binding="basicHttpsBinding" scheme="https" />


      

    </protocolMapping>
    
    <bindings>

      <customBinding>
        <binding name="ClearUsernameBinding_IService1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      
      <clearUsernameBinding>
        <binding name="myClearUsernameBinding" messageVersion="Soap12" />
      </clearUsernameBinding>
     

   <basicHttpBinding>

        <binding name="CustomLarge" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" transferMode="Streamed" sendTimeout="00:05:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />


          <security mode="None">
            <transport clientCredentialType="None" />
          </security>

        </binding>

      </basicHttpBinding>

      <basicHttpsBinding>
        <binding name="usernameHttps">
          <security mode="TransportWithMessageCredential">
           
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        
        
      </basicHttpsBinding>
      
      <webHttpBinding>
        <binding name="webHttpBindingWithJSONP" maxBufferSize="200000" maxBufferPoolSize="200000" maxReceivedMessageSize="200000" transferMode="Streamed" sendTimeout="00:05:00" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxDepth="200000" maxStringContentLength="200000" maxArrayLength="200000" maxBytesPerRead="200000" maxNameTableCharCount="200000" />

          <security mode="None">
            <transport clientCredentialType="None" />
          </security>


        </binding>
      </webHttpBinding>

      <wsHttpBinding>
        <binding>
          
          
          
        </binding>
      
      </wsHttpBinding>
      
    </bindings>
    
    
    
    

    <services>
      <service name="WcfService1.Service2">
        <endpoint address="" behaviorConfiguration="resfful" binding="webHttpBinding"   bindingConfiguration="webHttpBindingWithJSONP" contract="WcfService1.IService2"></endpoint>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>

      
        
    <service behaviorConfiguration="UPbehaviour" name="WcfService1.Service1">
          <endpoint address="http://localhost:50834/Service1.svc"  behaviorConfiguration="inspectorBehavior" binding="clearUsernameBinding" bindingConfiguration="myClearUsernameBinding" contract="WcfService1.IService1" listenUri="/" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        </service>

      <!--  <service behaviorConfiguration="" name="WcfService1.Service1">
        <endpoint address="http://localhost:50834/Service1.svc"  behaviorConfiguration="inspectorBehavior" binding="basicHttpBinding" bindingConfiguration="CustomLarge" contract="WcfService1.IService1" listenUri="/" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>-->

    </services>




    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <serviceActivations>

        <add relativeAddress="~/Service1.svc" service="WcfService1.Service1" />
        <add relativeAddress="~/Service2.svc" service="WcfService1.Service2" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
    </diagnostics>


  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>

  <connectionStrings>
    <add name="dbConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\gamechanger.mdf;Integrated Security=True" />
  </connectionStrings>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
