<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gamechanger.Properties.Settings.gamechangerConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\szara\Desktop\Gamechanger\WcfService1\App_Data\gamechanger.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
  
  
    <system.serviceModel>
      
      
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="ClearUsernameBinding_IService1">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
            <clearUsernameBinding>
                <binding name="myClearUsernameBinding" messageVersion="Soap12" />
            </clearUsernameBinding>
        </bindings>
      
      
      
      
        <client>
            <endpoint address="http://localhost:50834/Service1.svc" binding="clearUsernameBinding"
                bindingConfiguration="myClearUsernameBinding" contract="ServiceReference2.IService1"
                name="myClearUsernameBinding" />
        <!--    <endpoint address="http://localhost:50834/Service1.svc" binding="customBinding"
                bindingConfiguration="ClearUsernameBinding_IService1" contract="ServiceReference2.IService1"
                name="ClearUsernameBinding_IService1" />-->
        </client>

      <behaviors>
        <serviceBehaviors>
          <behavior name="MyBehavior">
            <serviceMetadata httpGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="true" />
            <!--our extension -->
            <!--  <securityTokenExtension />-->
          </behavior>
        </serviceBehaviors>
      </behaviors>
      
      
      <services>
        <service behaviorConfiguration="MyBehavior" name="SimpleService.MyService">
          <endpoint address="MyService" binding="basicHttpBinding" bindingConfiguration="" contract="ServiceReference2.IService1" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:9095/" />
            </baseAddresses>
          </host>
        </service>
      </services>
      
      
      
      <extensions>
        <behaviorExtensions>
          <add name="securityTokenExtension" type="SimpleService.SecurityTokenEndpointBehaviourExtensionElement, SimpleService, Version=1.0.0.0, Culture=Neutral, PublicKeyToken=null" />
        </behaviorExtensions>
        <bindingExtensions>
          <add name="clearUsernameBinding" type="WebServices20.BindingExtenions.ClearUsernameCollectionElement, ClearUsernameBinding" />
        </bindingExtensions>
      </extensions>
      
      
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>